.doc{
   display: flex;
   gap: 1em;
   align-items: center;
   > li{
      flex:1;
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow-x: auto;
      height: 2em;
   }
}
label{
   display: flex;
   gap: 1em;
   align-items: center;;
}
ul{
   padding-left: 1em;
}